<!doctype html>
<html lang="en">
<head><title>Visualização de Dados</title></head>
<body>
  <h2>Primeiras Linhas do Dataset</h2>
  {{ data|safe }}
  <h2>Distribuição de Preços</h2>
  <img src="/static/plot.png" alt="Gráfico de Preço Médio">


  <h2>Visualização dos Dados</h2>
<div>
    <img src="{{ plot_path }}" alt="Gráfico de Distribuição de Preços Médios">
</div>
<div>
    <h3>Dados:</h3>
    {{ data|safe }}
</div>
<br>
<br>
<hr>
<h1>TREINAR MODELO</h1>
<a href="{{ url_for('train_model', filename=filename) }}">LINK</a>
</body>
</html>
